@import "reset";
@import "mixin";
// @import "utility";


.img-bg{
  background-image: url(https://rainbowit.net/html/inbio/assets/images/bg/bg-image-9.jpg);
  height: 350px;
}
.cover-bg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.info-header{
  height: 250px;

  .info-bg2{
    background-color:#212428;
    border-radius: 15px;
    height: 100%;
    margin-top: -100px;
    justify-content: space-around;
    .gap{
      gap: 50px;
    }
    .info-title{
      font-size: 32px;
      margin-bottom: 10px;
      font-weight: 800;
      color: #c4cfde;
    }
    .info-status{
      font-size: 18px;
      font-weight: 500;
      color: #878e99;
      word-spacing: 3px;
    }
    .anker-holder{
      gap: 10px;
      }
      .bg-anker{
        width: 53px;
        height: 53px;
        line-height: 53px;
        background: linear-gradient(to right bottom, #212428, #16181c);
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;;
        display: flex;
        justify-content: center;
        border-radius: 10px;
       
        a{
          color: rgb(135, 142, 153);
        }
      }

      .second-info{
        gap: 20px;
        align-items: center;
        span{
          color: #878e99;
          display: block;
          font-size: 14px;
          font-weight: 400;
        }
        li{
          color: #c4cfde;
          font-size: 18px;
           margin-bottom: 20px;
           list-style: none;
        }
      }
     
    }
    .img-2{ 
      border-radius: 15px;
      max-height: 200px;
      border: 5px solid #1D1E24;
      position: relative;
      top: -80px;
    }
  }
.info-bg3::after{
  content: "";
  background-color: black;
  width: 1px;
  height: 200px;
  margin: 23.5px 0 0 70px;
}
.bg-anker a :hover{
  margin-top: -5px;
  background: #16181c;
  width: 45px;
  height: 45px;
  align-self: center;
  justify-content: center;
}

@media(max-width:1025px){
  .info-header{
    height: 400px;
  
    .info-bg2{
    flex-direction: column;
    align-items: center;
      .gap{
        gap: 50px;
      }
    }
  }
  .info-bg3::after{
    content: "";
    display: none;
  }
}
@media(max-width:766px){
  .info-header{
    height: 500px;
  
    .info-bg2{
      
 
      .gap{
        gap: 0px;
        flex-direction: column;
        align-items: center;
      }
      .info-title{
        margin-top: -30px;
      }
    }
  }
  
}
@media(max-width:425px){
  .info-header{
    height: 700px;
  
    .info-bg2{
      .second-info{
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  
}


// section start here

.nav-holder{
  background-color: #212428;
  position: sticky;
  top: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 500px;
 

  
  a{
    order: none;
   font-size: 18px;
   color: #E4E6EA;;
   height: 90px;
   border-radius: 10px;
   transition: 0.3s;
   text-decoration: none;
   width: 100%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
  
     }
}

.nav-holder  :hover{
  background-color: #f9004d;
 
}

.content-holder{
  background-color: #212428;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  .img-holder2{
     display: flex;
     justify-content: space-around;
    .img-2{
      height: 400px;
      border-radius: 15px;
      box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    
    }
  }
  .content-info{
    .hire{
      color: #f9004d;;
      letter-spacing: 1px;
      display: block;
      line-height: 14px;
      margin-bottom: 10px;
      font-size: 14px;
      margin-top: 10px;
    }
    .aboutme{
    font-weight: 700;
    line-height: 1.2;
    color: #c4cfde;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 32px;
    }
    .para1{
      margin-top: 23px;
      font-size: 16px;
      line-height: 28px;
      color: #878e99;
      margin-bottom: 30px;
      padding-right: 10%;
    }
    .ul-holder{
      padding: 0;
      margin: 30px 0;
      li{
        font-size: 18px;
        line-height:1.50;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #878e99;
        list-style: none;
        svg{
          width: 18px;
          height: auto;
          color: #c4cfde;
          margin-right: 15px;
        }
      }
    }
    a{
      padding: 18px 35px;
      border-radius: 6px;
      background: linear-gradient(145deg, #1e2024, #23272b);
      box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
      transition: 0.4s;
      font-size: 14px;
      font-weight: 500;
      border: 0 none;
      color:  #ff014f;
      display: inline-block;
    }
  }
}

.img-holder2 .img-2:hover {
    transform: scale(1.1);
} 


@media(max-width:991px){
  .nav-holder{
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 70px;
   
  }
  .img-holder2{ 
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .formargin{
    margin-top: 40px;
  }
  .content-info{
    margin-top: 20px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .para1{
      text-align: center;
      padding-right: 0%;
    }
  }
  
}
@media(max-width:1199px){
  
  .content-info{
    margin-left: 50px;
   
  }
  
}

.doing{
  text-align: center;
  color: #c4cfde;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.card-holder{
    text-align: center;
    padding: 35px 20px;
    border-radius: 13px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2509803922);
    svg{
      width: 55px;
      height: auto;
      stroke-width: 1px;
      color: #ff014f;
      margin-bottom: 25px;
    }
    h6{
      color: #c4cfde;
      font-weight: 700;
      font-size: 20px;
    }
    p{
      font-size: 18px;
      line-height: 28px;
    }
}

.hold{
  display: flex;
  justify-content: space-around;
}


.client-holder{

  background:linear-gradient(145deg, #1e2024, #23272b);;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2509803922);
  cursor: pointer;
  
  .thumbnail{
    text-align: center;
    margin-top: 40px;
   img{
     width: auto;
   }
  }
  .seperator{
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2509803922);
    margin-top: 50px;
  }
  .client-name{
    text-align: center;
    a{
      text-decoration: none;
      color: #7c838e;
      font-size: 18px;
      display: inline-block;
      padding-top: 40px;
      margin-bottom: 40px;
      
    }
  }
}
.client-holder:hover{
  background:linear-gradient(145deg, #23272b , #1e2024 );
}


